body {
    font-family: "Montserrat", sans-serif !important;
    font-size: 0.9rem;
}

label {
    font-weight: 400 !important;
}

.tag {
    background-color: green;
    padding: 5px;
    margin-bottom: 5px;
}

.bootstrap-tagsinput {
    line-height: 38px !important;
}

.bigInput {
    line-height: 48px;
    height: 48px
}

.border-right-2px-black {
    border-right: 2px solid black;
}

.select2-container .select2-selection--single {
    height: 38px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 36px !important;
}

.lh-38-px {
    line-height: 38px !important;;
    font-weight: 700;
    font-size: 20px;
}

.error-page>.error-content {
    margin-left: 200px !important;
    padding-top: 20px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff !important;
    border-color: #006fe6 !important;
    color: #fff !important;
    padding: 0 10px !important;
    margin-top: .31rem !important;
}